---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/me.jpg"
>
  <p>
    Hello, I'm Ricardo – a passionate Argentinian Android Engineer currently navigating
    the vibrant landscapes of Spain. As a dedicated member of the Contentsquare family, I
    find joy and fulfillment in crafting innovative solutions within the ever-evolving
    realm of mobile development.
  </p>

  <p>
    Beyond the realm of code, I'm a proud parent of three wonderful kids who bring endless
    joy and inspiration to my life. Parenthood is a journey that continually shapes and
    enriches my perspective, teaching me valuable lessons in patience, love, and the beauty
    of the everyday moments.
  </p>

  <p>
    While my professional journey keeps me deeply engaged in the intricacies of Android
    development, my heart beats to the rhythm of various passions. I am an avid tech
    enthusiast, constantly seeking new challenges and staying on the cutting edge of
    industry trends. When not immersed in the digital world, you'll likely find me exploring
    the great outdoors, whether it's through adventurous hikes or strumming away on my
    guitar, translating emotions into melodies.
  </p>

  <p>
    As a true aficionado, I take my love for beer seriously, delving into the world of brews
    to discover unique flavors and aromas. Each pint is not just a drink but a story, a
    journey into the craftsmanship that goes into creating these delightful beverages.
  </p>

  <p>
    Life, to me, is a tapestry woven with threads of technology, family, adventure, and the
    simple pleasures that make every day extraordinary. Join me as I navigate this intricate
    mosaic, sharing insights from my professional endeavors, the joys of parenting, and the
    diverse tapestry of interests that shape my world.
  </p>

  <p>
    Thank you for stopping by, and I look forward to sharing this journey with you!
    Cheers to coding, parenthood, and the myriad of experiences that make life truly
    remarkable.
  </p>

</Layout>
