---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to my Digital Corner!</h1>
			<p>
				Greetings, fellow explorers of the digital realm! I am Ricardo, a seasoned software
        engineer with a journey spanning over 25 years in the ever-evolving landscape of
        technology. This digital haven you've stumbled upon is my personal blog, a space
        where I share my musings on software development, the intricacies of coding, and
        reflections on the broader tapestry of life.
			</p>
			<p>
				Throughout my extensive career, I've traversed the coding landscape, leaving footprints
        in PHP, Ruby, Python, and, more recently, Android. My passion for crafting elegant
        solutions led me to explore exciting realms such as the Flutter framework and Kotlin
        Multiplatform, where I find joy in creating versatile and efficient applications.
			</p>
			<p>
        I've had the privilege of contributing my skills to renowned companies, including
        the likes of Venmo, Paypal, FreeNow, and my current endeavor at Contentsquare as a
        Senior Engineer. These experiences have not only honed my technical prowess but have
        also enriched my perspective on the ever-evolving intersection of technology and human
        experience.
      </p>
			<p>
				Here, within the virtual confines of my blog, you'll find a blend of technical insights,
        code-centric anecdotes, and reflections on the intricate dance between software
        development and the essence of life itself. Join me on this digital journey as we
        navigate the bytes and bits of our interconnected world, exploring the profound impact
        of technology on both our professional and personal spheres.
			</p>
			<p>
				Whether you're a fellow developer seeking coding wisdom, a tech enthusiast eager to explore
        the nuances of different programming languages, or simply someone curious about the
        tales woven through decades of software engineering, you've found a welcoming space in
        Ricardo's Digital Corner. So, buckle up and enjoy the ride as we embark on this exciting
        adventure together!
			</p>
      <p>
        <em>Thanks ChatGPT for writting this</em>
      </p>
		</main>
		<Footer />
	</body>
</html>
